.example-spacer {
  flex: 1 1 auto;
}


 .nabvar{
  width: 100%;
  color: rgb(159, 92, 201);
  font-size: 29px;
  background:black;
} 

.nabvar ::before{
  content: '';
  background-color:rgba(0, 0, 0, 0.08);
}  

.nuevo{
  font-size: 25px;
}

.nuevo:hover{
  font-size: 28px;
  color: rgb(220, 178, 222);
}

