<mat-toolbar   class="nabvar">
  <span>
  <button mat-button class="nuevo"  [routerLink]="['/inicio']">Neida</button>
</span>
  <!--Dinamico :-->
  <span class="example-spacer "></span>

    <button mat-button class="nuevo" *ngFor="let item of menu" [routerLink]="item.redirect">{{item.nombre}}</button>

  <span class="example-spacer"></span>

 
</mat-toolbar>
