table {
  width: 100%;
  margin-top: 10px;
}

.btn-agregar{
  background-color: rgb(116, 17, 129);
}

th {
  width: 9%;
}


.col-1{
  width: 4%;
}

.acciones{
  width: 3%;
}

.alineacion {
  text-align: left;
}

.pointer {
  cursor: pointer;
}


.icono-1 {
  color: #1878b0;
}

.icono-2 {
  color: #1f516f;
}

.icono-3 {
  color: #e15639;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}

