
.simple-card-m {
  margin-top: 10px;
}

.body{
    text-align: center;
    background-color: #f5f5f5;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* .login {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  } */
  
  textarea{
    height: 200px;
    resize:none;
  }
   
  .login img {
    width: 50%;
  }
  
  
  .ancho {
    width: 100%;
  }
  
  
  .boton{
    height: 50px;
  }
  
  .spinner{
    margin: 0 auto;
    color: blueviolet;
  }