 <section class="main">
  <div class="info-per container1">
    <img class="img-n" src="../../../../assets/img/neida.jpg" alt="neida-image">
    <h2>Hola, mi nombre es </h2>
    <h1>NEIDA LLUSCO MIRANDA</h1>
    
    <h1>Bienvenido al CV de Neida</h1>
  </div>
</section>


<mat-card class="redondo-about">
 <h3> Soy una persona que le encantan los desafios, la idea de trabajar en equipo me parece de mayor enriquecimiento para mi aprendizaje y deseo avanzar más aún en mi formación y poder mejorar ,talvez no el mundo pero si algún pedacito que me toque, con mis conocimientos.</h3>
</mat-card>

<section class="nuevo">

  <h1>Mis Conocimientos</h1>
  <div class="k">
    <i class='bx bxl-html5 bx-burst' style='color:#d6661d' ></i>
    <mat-progress-bar class="progress" mode="determinate" value="60"></mat-progress-bar>
  </div>
  <br>
  <div class="k">
    <i class='bx bxl-css3 bx-tada' style='color:#4442ef' ></i>
    <mat-progress-bar class="progress" mode="determinate" value="60"></mat-progress-bar>
  </div>
  <br>
  <div class="k">
    <i class='bx bxl-java bx-tada' style='color:#407ade'  ></i>
    <mat-progress-bar class="progress" mode="determinate" value="45"></mat-progress-bar>
  </div>
  <br>
  <div class="k">
    <i class='bx bxl-javascript bx-tada' style='color:#efd24a'  ></i>
    <mat-progress-bar class="progress" mode="determinate" value="80"></mat-progress-bar>
  </div>
  <br>
  <div class="k">
    <i class='bx bxl-angular bx-tada' style='color:#ef0707'  ></i>
    <mat-progress-bar class="progress" mode="determinate" value="60"></mat-progress-bar>
  </div>
</section>



<section class="nuevo">
  <div class="container1">
    <h1>Formación</h1>
    <mat-card class="simple-card-m">
      <h3>2022 Marzo - 2022 Julio</h3>
      <h2>Capacitacion en el Desarrollo de</h2>
      <h2>Aplicaciones Web</h2>
      <h3>Actualmente En Curso </h3>
      <h4>
        Auspiciado por parte de la alcaldía de Cercado-Cbba-Bolivia
        impartido por la Empresa Solaning S.R.L. 
        Modo Presencial
      </h4>
    </mat-card>
  
    <mat-card class="simple-card-m">
      <h3>2018 Marzo - 2022 Enero</h3>
      <h3>Licenciatura en Ingenieria de Sistemas</h3>
      <h2>Universidad mayor de San Simón</h2>
      <h3>6 semestres</h3>
    </mat-card>
    
    <mat-card class="simple-card-m" >
      <h3>2022 Mayo - 2022 Junio</h3>
      <h3>Macros,VBA Programacion</h3>
      <h3>Orientado a Objetos</h3>
      <h4>Impartido por la empresa Solaning S.R.L.</h4>
    </mat-card>

    <mat-card class="simple-card-m" >
      <h3>2013 Febrero - 2017 Diciembre</h3>
      <h3>Unidad Educativa 1ro de Mayo</h3>
      <h3>Cercado-Cbba-Bolivia</h3>
    </mat-card>

  </div>
</section>



<section class="nuevo2" >
    <div>
      <h1>Certificados</h1>
    <mat-card class="simple-card-m">
      <h3>Macros,VBA Programacion</h3>
      <h3>Orientado a Objetos</h3>
      <h2>Impartido por la empresa Solaning S.R.L.</h2>
    </mat-card>

    <mat-card class="simple-card-m">
      <h3>Excel</h3>
      <h2>Impartido por la empresa Solaning S.R.L.</h2>
    </mat-card>
  </div>
  </section>



<!-- <section>
  <mat-card>
    <h1>Encuentrame en las siguientes direcciones:</h1>
    <mat-card>

    </mat-card>
  </mat-card>
</section> -->


<!-- <div class="head">
  <br><br>
  <h2>COMO CONTACTAR CONMIGO</h2>
  <p>
    Dirección:
    <br>
    Av.Diamante, Calle Chacaltaya
    <br><br>
    Teléfono:
    <br>
    62613382
    <br><br>
    Correo:
    <br>
    neida.llusco.miranda99@gmail.com
  </p>
  <br><br><br>
  <h2>IDIOMA</h2>
  <h3>Ingles</h3>
   <p>Nivel Básico</p>
  <h3>Español</h3>
    <p>Nativo</p>
</div>

<div class="right">
  <h2>HABILIDADES</h2>
  <p>
    -Trabajo en equipo<br>
    -Perseverancia<br>
    -Proactividad <br>
    -Adaptabilidad
  </p>

  <h3>PERFIL ACADÉMICO</h3>
  
    <h3>CAPACITACIONES</h3>
    <p>
      <strong><span>marzo 2022 -en curso </span></strong>
    Alcaldía - Empresa Solaning S.R.L. <br>
    Desarrollo de Aplicaciones Web
    </p>

    <h3>EDUCACIÓN SUPERIOR</h3>
    <br>
    <strong>Universitario        <span>marzo 2018-en curso</span></strong>
    <p>
    Universidad Mayor de San Simón <br>
    Ing. de Sistemas <br>
    7 semestres
    </p>

    <h3>Bachiller       <span>enero 2012-diciembre 2017</span></h3>
    <p>
    Titulo de bachiller <br>
    Unidad Educativa '1ro de Mayo 2' 
    </p>
    <br>
    <br>
  <h3>CERTIFICADOS</h3>
  <p>
    <h3>Cisco Modulo 1    <span> enero 2021 - agosto 2021</span></h3>
   <p>
    Certificado Cisco Modulo 1 <br>
    1 semestre
   </p>

    <h3>Cisco Modulo 2    <span> septiembre 2021 - enero 2022</span></h3>
    <p>
      Certificado Cisco Modulo 2 <br>
      1 semestre
    </p>
</div> -->

